#abstract_syntax_lists {
  height: 400px;
  width: 228px;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #F7F7F7;

  #syntax {
    display: inline-block;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    //font-weight: bold;
    font-family: serif;
    text-shadow: 1px 1px #aaaaaa;
    cursor: move;
    color: white;
    font-size: 2em;
    background: lightblue;
    //box-shadow: 1px 1px #aaaaaa;
  }
}
