.table-hover tbody tr:hover td {
  background-color: #E4F1FE;;
}

.ui-draggable-helper {
  display: inline-block;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  //font-weight: bold;
  font-family: serif;
  text-shadow: 1px 1px #aaaaaa;
  cursor: move;
  color: white;
  font-size: 2em;
  background: lightblue;
  //box-shadow: 1px 1px #aaaaaa;
}

#output_area {
  margin: 12px;
}

::-webkit-input-placeholder {
  color: white;
}

.CodeMirror {
  border: 1px solid #aaaaaa;
  height: 400px;
  background: url('//raw.githubusercontent.com/SBR2015/ootalk-static/master/images/ootalk_background.png') no-repeat 10px 30px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}
